<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
    	<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   		<base href="/">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{% block navbar %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" role="navigation">
		  <a class="navbar-brand" href="#">Pl</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		      	<a class="nav-link" href="{{ path('default') }}">Home</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Catalogo
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/{{ app.request.locale }}/songs">{% trans %}songs{% endtrans %}</a>
		          <a class="dropdown-item" href="/{{ app.request.locale }}/artists">{{ 'artists'|trans }}</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">{% trans %}playlists{% endtrans %}</a>
		        </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="#">Disabled</a>
		      </li>
		    </ul>
		  </div>
		  <span class="navbar-text">
	    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	      		{{ app.user.username }}, <a href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
	      	{% else %}
				<a href="{{ path('login') }}">{{ 'login'|trans }}</a>
	      	{% endif %}
		  </span>		  
		</nav>
		{% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}
        	{{ include('js.html.twig') }}
        	<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script><script src="{{ url('bazinga_jstranslation_js') }}"></script><script type="text/javascript" src="{{ asset('assets/runtime.js') }}"></script><script type="text/javascript" src="{{ asset('assets/polyfills.js') }}"></script><script type="text/javascript" src="{{ asset('assets/styles.js') }}"></script><script type="text/javascript" src="{{ asset('assets/scripts.js') }}"></script><script type="text/javascript" src="{{ asset('assets/vendor.js') }}"></script><script type="text/javascript" src="{{ asset('assets/main.js') }}"></script>
        {% endblock %}
    </body>
</html>